1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
#ex 1a)
N = 100
for n in range(N+1):
    if n % 15 == 0:
        print('Mikey Mouse')
    elif n % 3 == 0:
        print('Mikey')
    elif n % 5 == 0:
        print('Mouse') 
    else:
        print(n)

Mikey Mouse
1
2
Mikey
4
Mouse
Mikey
7
8
Mikey
Mouse
11
Mikey
13
14
Mikey Mouse
16
17
Mikey
19
Mouse
Mikey
22
23
Mikey
Mouse
26
Mikey
28
29
Mikey Mouse
31
32
Mikey
34
Mouse
Mikey
37
38
Mikey
Mouse
41
Mikey
43
44
Mikey Mouse
46
47
Mikey
49
Mouse
Mikey
52
53
Mikey
Mouse
56
Mikey
58
59
Mikey Mouse
61
62
Mikey
64
Mouse
Mikey
67
68
Mikey
Mouse
71
Mikey
73
74
Mikey Mouse
76
77
Mikey
79
Mouse
Mikey
82
83
Mikey
Mouse
86
Mikey
88
89
Mikey Mouse
91
92
Mikey
94
Mouse
Mikey
97
98
Mikey
Mouse

In [2]:
#ex 1b)
N = 100
Disney = []

for n in range(N+1):
    if n % 15 == 0:
        Disney.append('Mikey Mouse')
    elif n % 3 == 0:
        Disney.append('Mikey')
    elif n % 5 == 0:
        Disney.append('Mouse') 
    else:
        Disney.append(n)

print('Before mod:\n',type(Disney),'\n', Disney)

for d in range(N+1):
    if Disney[d] == 'Mikey':
        Disney[d] = 'Donald'
    elif Disney[d] == 'Mouse':
        Disney[d] = 'Duck'
    elif Disney[d] == 'Mikey Mouse':
        Disney[d] = 'Donald Duck'
    else:
        None

Disney = tuple(Disney)
print('After mod:\n', type(Disney), '\n', Disney)

Before mod:
 <class 'list'>
 ['Mikey Mouse', 1, 2, 'Mikey', 4, 'Mouse', 'Mikey', 7, 8, 'Mikey', 'Mouse', 11, 'Mikey', 13, 14, 'Mikey Mouse', 16, 17, 'Mikey', 19, 'Mouse', 'Mikey', 22, 23, 'Mikey', 'Mouse', 26, 'Mikey', 28, 29, 'Mikey Mouse', 31, 32, 'Mikey', 34, 'Mouse', 'Mikey', 37, 38, 'Mikey', 'Mouse', 41, 'Mikey', 43, 44, 'Mikey Mouse', 46, 47, 'Mikey', 49, 'Mouse', 'Mikey', 52, 53, 'Mikey', 'Mouse', 56, 'Mikey', 58, 59, 'Mikey Mouse', 61, 62, 'Mikey', 64, 'Mouse', 'Mikey', 67, 68, 'Mikey', 'Mouse', 71, 'Mikey', 73, 74, 'Mikey Mouse', 76, 77, 'Mikey', 79, 'Mouse', 'Mikey', 82, 83, 'Mikey', 'Mouse', 86, 'Mikey', 88, 89, 'Mikey Mouse', 91, 92, 'Mikey', 94, 'Mouse', 'Mikey', 97, 98, 'Mikey', 'Mouse']
After mod:
 <class 'tuple'>
 ('Donald Duck', 1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
#ex 2)
def swap(x,y):
    return y , x

a, b = swap(3,'three')
print(a,b)

three 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
#ex 3)
def tup_dist(u:tuple,v:tuple):
    norm_sq = 0 
    for i in range(len(u)):
        norm_sq = norm_sq + (u[i] - v[i])**2
    return (norm_sq)**0.5

u = (0,4)
v = (3,0)
dist = tup_dist(u,v)
print('Distance from', u,'to', v, '\n', dist)

Distance from (0, 4) to (3, 0)
 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [5]:
#ex 4)
str = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

#lowering all chars
str = str.lower()
#creating a set to store unique char
unique_dict = {}

for s in str:
    if s in unique_dict:        #checking if char already existing otherwise adding in the set 
        unique_dict[s] += 1     
    else:
        unique_dict[s] = 1      

print('Numbers of unique chars: ', len(unique_dict))

Numbers of unique chars:  26

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [6]:
#ex 5)
lis = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#creating a list to save the unique values
unique_list = []

for l in lis:
    if l in unique_list:      #checking if val already existing otherwise adding in the list 
      None
    else:
       unique_list.append(l) 


print(unique_list)
print(len(unique_list))

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
#ex 6)
def pow_two(x):
    return x**2

def pow_three(x):
    return x**3

def pow_six(x):
    return pow_three(pow_two(x))

print('Two to the power of')
print('two',pow_two(2))
print('three',pow_three(2))
print('six', pow_six(2))

Two to the power of
two 4
three 8
six 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [8]:
#ex 7a)
cube = []

for x in range(10+1):
    cube.append(pow_three(x))
print('Cube with for loops', cube)

#ex 7b)
cube = [pow_three(x) for x in range(10+1)]
print('Cube with list of comprehension', cube)

Cube with for loops [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
Cube with list of comprehension [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [9]:
#ex 8)      
#                     creating tuple                  duble list of comprehension                                    if state 
unique_triple = [(a,b,(a**2 + b**2)**0.5) for a in range(1,100+1) for b in range (a,101) if (a**2 + b**2)**0.5 % 1 == 0 if (a**2 + b**2)**0.5 < 100]

print('Unique pitagoras triple\n',unique_triple)

Unique pitagoras triple
 [(3, 4, 5.0), (5, 12, 13.0), (6, 8, 10.0), (7, 24, 25.0), (8, 15, 17.0), (9, 12, 15.0), (9, 40, 41.0), (10, 24, 26.0), (11, 60, 61.0), (12, 16, 20.0), (12, 35, 37.0), (13, 84, 85.0), (14, 48, 50.0), (15, 20, 25.0), (15, 36, 39.0), (16, 30, 34.0), (16, 63, 65.0), (18, 24, 30.0), (18, 80, 82.0), (20, 21, 29.0), (20, 48, 52.0), (21, 28, 35.0), (21, 72, 75.0), (24, 32, 40.0), (24, 45, 51.0), (24, 70, 74.0), (25, 60, 65.0), (27, 36, 45.0), (28, 45, 53.0), (30, 40, 50.0), (30, 72, 78.0), (32, 60, 68.0), (33, 44, 55.0), (33, 56, 65.0), (35, 84, 91.0), (36, 48, 60.0), (36, 77, 85.0), (39, 52, 65.0), (39, 80, 89.0), (40, 42, 58.0), (40, 75, 85.0), (42, 56, 70.0), (45, 60, 75.0), (48, 55, 73.0), (48, 64, 80.0), (51, 68, 85.0), (54, 72, 90.0), (57, 76, 95.0), (60, 63, 87.0), (65, 72, 97.0)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [23]:
#ex 9)
def normalized_tup(x:tuple):

    x_list = list(x)
    norm = 0

    for i in range(len(x)):
        norm += x_list[i]**2
    
    norm = norm**0.5

    for i in range(len(x)): 
        x_list[i] = x_list[i]/ norm

    return tuple(x_list)
    
tup = (1,2,3,4)
nor_tup = normalized_tup(tup)

print('Old tuple', tup)
print('Normalized tuple', nor_tup)

Old tuple (1, 2, 3, 4)
Normalized tuple (0.18257418583505536, 0.3651483716701107, 0.5477225575051661, 0.7302967433402214)

In [ ]:
#done